@font-face {
  font-family: Hardpixel;
  src: url("../assets/fonts/Hardpixel.OTF") format("opentype");
}

.media-controls {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  background-color: #282f31da;
  border-radius: 10px;
  color: #fcfcfc;
  min-width: 30%;
}

@media only screen and (max-width: 600px) {
  .media-controls {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    align-items: center;
    background-color: #282f31da;
    border-radius: 10px;
    color: #fcfcfc;
  }
}

.media-player {
  visibility: hidden;
  display: none;
  opacity: 0;
}


.saat {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100px;
  list-style: none;
  outline: none;
  font-family: Hardpixel, serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-align: center;
  user-select: none;
  color: white;
  text-shadow: 5px 5px 0 #020406;
}

@media only screen and (max-width: 600px) {
  .saat {
    box-sizing: border-box;
    font-size: 40px;
    margin: 1px;
    padding: 1px;
    list-style: none;
    outline: none;
    font-family: Hardpixel, serif;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-align: center;
    user-select: none;
    color: white;
    text-shadow: 5px 5px 0 #020406;
  }
}


.volumeContainer {
  display: contents;
  margin: 1em 25px 0px 0px;
}

.playButton {
  font-size: 35px;
  float: left;
  font-family: Hardpixel, serif;
  max-width: 100%;
  display: block;
  margin: 1em;
  background: none;
  color: inherit;
  outline: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  border: 1px solid #282f31;
  background-color: #313a3c;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #2a3133;
}

@media only screen and (max-width: 600px) {
  .playButton {
    font-size: 20px;
    float: left;
    font-family: Hardpixel, serif;
    max-width: 100%;
    display: block;
    margin: 1em;
    background: none;
    color: inherit;
    outline: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 1px solid #282f31;
    background-color: #313a3c;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px #2a3133;
  }
}

.soundToggleUnMute {
  background-image: url(../assets/image/unmute.png);
  background-size: 26px 28px;
  margin: 10px;
  display: inline-block;
  padding: 13px;
  vertical-align: middle;
  position: relative;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  font-size: 0;
  outline: none;
}

.volumeSlider {
  height: 3px;
  transition: width 0.1s linear 0s;
  /* contain: strict; */
}

.currentTime {
  font-family: Hardpixel, serif;
}

.sliderTime {
  height: 3px;
  transition: width 0.1s linear 0s;
  /* contain: strict; */
  margin: 10px;
}

.duration {
  text-align: end;
  font-family: Hardpixel, serif;
}